<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <title>时间选择-设置不可选区域</title>
    <link rel="stylesheet" href="./css/element-ui.css">
  </head>
  <body>
    <div id="lists">
      <el-container>
        <el-main v-cloak="v-cloak">
          <el-date-picker type="date" :editable="false" @change="dateChange" v-model="date" :picker-options="pickerOptions" value-format="yyyy-MM-dd"></el-date-picker>
          <el-select v-model="start" @change="getStartTimeChange">
            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" :disabled="item.disabled"></el-option>
          </el-select>
          <el-select v-model="end" :disabled="timeEndStr">
            <el-option v-for="item in endOptions" :key="item.value" :label="item.label" :value="item.value" :disabled="item.disabled"></el-option>
          </el-select>
        </el-main>
      </el-container>
    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/element-ui.js"></script>
    <script>
      new Vue({
        el: '#lists',
        created: function () {},
        data: {
          date: '',
          start: '',
          end: '',
          timeEndStr: true,
          timeLists: [],
          pickerOptions: {
            disabledDate(time) {
              return time.getTime() + 3600 * 1000 * 24 < Date.now();
            }
          },
          selectableRange: [],
          options: [
            {
              value: '08:30',
              label: '08:30',
              disabled: true
            }, {
              value: '09:00',
              label: '09:00',
              disabled: true
            }, {
              value: '09:30',
              label: '09:30',
              disabled: true
            }, {
              value: '10:00',
              label: '10:00',
              disabled: true
            }, {
              value: '10:30',
              label: '10:30',
              disabled: true
            }, {
              value: '11:00',
              label: '11:00',
              disabled: true
            }, {
              value: '11:30',
              label: '11:30',
              disabled: true
            }, {
              value: '12:00',
              label: '12:00',
              disabled: true
            }, {
              value: '12:30',
              label: '12:30',
              disabled: true
            }, {
              value: '13:00',
              label: '13:00',
              disabled: true
            }, {
              value: '13:30',
              label: '13:30',
              disabled: true
            }, {
              value: '14:00',
              label: '14:00',
              disabled: true
            }, {
              value: '14:30',
              label: '14:30',
              disabled: true
            }, {
              value: '15:00',
              label: '15:00',
              disabled: true
            }, {
              value: '15:30',
              label: '15:30',
              disabled: true
            }, {
              value: '16:00',
              label: '16:00',
              disabled: true
            }, {
              value: '16:30',
              label: '16:30',
              disabled: true
            }, {
              value: '17:00',
              label: '17:00',
              disabled: true
            }, {
              value: '17:30',
              label: '17:30',
              disabled: true
            }, {
              value: '18:00',
              label: '18:00',
              disabled: true
            }
          ],
          optionValue: '',
          endOptions: []
        },
        watch: {
          timeLists(val) {
            const len = val.length;
            let timeSelectStart = [];
            if (len !== 0) {
              for (i in val) {
                const j = Number(i);
                const x = j + 1;
                if (j < len - 1) {
                  if (j == 0) {
                    if (val[i][0].split(':')[0] !== '08') {
                      timeSelectStart.push([
                        '08:30', val[i][0]
                      ])
                    }
                    if (val[i][1].split(':')[0] !== val[x][0].split(':')[0]) {
                      timeSelectStart.push([
                        val[i][1],
                        val[x][0]
                      ])
                    } else if (val[i][1].split(':')[0] == val[x][0].split(':')[0]) {
                      if (val[i][1].split(':')[1] !== val[x][0].split(':')[1]) {
                        timeSelectStart.push([
                          val[i][1],
                          val[x][0]
                        ])
                      }
                    }
                  } else {
                    if (val[i][1].split(':')[0] !== val[x][0].split(':')[0]) {
                      timeSelectStart.push([
                        val[i][1],
                        val[x][0]
                      ])
                    } else if (val[i][1].split(':')[0] == val[x][0].split(':')[0]) {
                      if (val[i][1].split(':')[1] !== val[x][0].split(':')[1]) {
                        timeSelectStart.push([
                          val[i][1],
                          val[x][0]
                        ])
                      }
                    }
                  }
                } else if (j == len - 1) {
                  if (j == 0) {
                    if (val[i][0].split(':')[0] !== '08') {
                      timeSelectStart.push([
                        '08:30', val[i][0]
                      ])
                    }
                    if (val[i][1].split(':')[0] !== '18') {
                      timeSelectStart.push([
                        val[i][1],
                        '18:00'
                      ])
                    }
                  } else {
                    if (val[i][1].split(':')[0] !== '18') {
                      timeSelectStart.push([
                        val[i][1],
                        '18:00'
                      ])
                    }
                  }
                }
              }
              this.selectableRange = timeSelectStart;
            } else {
              this.selectableRange = [
                ['08:30', '18:00']
              ]
            }
          },
          selectableRange(val) {
            let options = this.options;
            const len = options.length;
            for (time of val) {
              const timeLine = time;
              const timeStart = timeLine[0];
              const timeEnd = timeLine[1];
              for (i in options) {
                if (options[i].value == timeStart) {
                  options[i].start = true;
                  options[i].disabled = false;
                  let nowValue = options[i].value;
                  let j = Number(i);
                  do {
                    j += 1;
                    nowValue = options[j].value
                    options[j].disabled = false;
                    if (nowValue == timeEnd) {
                      options[j].end = true;
                    }
                  } while (nowValue !== timeEnd && j < len - 1)
                }
              }
              const dateNow = new Date();
              const year = dateNow.getFullYear();
              let month = dateNow.getMonth() + 1;
              month = month > 9
                ? month
                : '0' + month;
              let day = dateNow.getDate();
              day = day > 9
                ? day
                : '0' + day;
              const date = year + '-' + month + '-' + day;
              if (this.date == date) {
                let hours = dateNow.getHours();
                hours = hours > 9
                  ? hours
                  : '0' + hours;
                let minutes = dateNow.getMinutes();
                minutes = minutes > 9
                  ? minutes
                  : '0' + minutes;
                for (opt of options) {
                  const hour = opt.value.split(":")[0];
                  const minites = opt.value.split(":")[1];
                  if (hour < hours) {
                    opt.disabled = true;
                  } else if (hour == hours) {
                    if (minites < minutes) {
                      opt.disabled = true;
                    }
                  }
                }
              }
            }
            this.options = options;
          }
        },
        methods: {
          getStartTimeChange(time) {
            if (this.start != "") {
              this.timeEndStr = false;
              let timeSelectEnd = [];
              let options = this.options;
              let endOptions = [];
              let x = 0;
              for (r in options) {
                if (options[r].value == time) {
                  x = Number(r);
                  endOptions.push(options[x])
                  if (options[x].end !== true) {
                    do {
                      x += 1;
                      endOptions.push(options[x])
                    } while (options[x].disabled == false && options[x].end !== true)
                  }
                }
              }
              this.endOptions = endOptions;
            }
            this.end = ""
          },
          dateChange() {
            this.start = "";
            this.end = "";
            this.timeEndStr = true;
            this.timeLists = [
              [
                '09:00', '10:00'
              ],
              [
                '13:00', '14:30'
              ]
            ]
          }
        }
      })
    </script>
  </body>
</html>