<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <title>时间选择-设置时分不可选区域</title>
    <link rel="stylesheet" href="./css/element-ui.css">
  </head>
  <body>
    <div id="lists">
      <el-container>
        <el-main v-cloak="v-cloak">
          <el-date-picker type="date" :editable="false" @change="dateChange" v-model="date" :picker-options="pickerOptions" value-format="yyyy-MM-dd"></el-date-picker>
          <el-time-picker @change="getStartTimeChange" v-model="start" :editable="false" :picker-options="timeSelectStart" value-format="HH:mm" format="HH:mm"></el-time-picker>
          <el-time-picker :disabled="timeEndStr" v-model="end" :editable="false" :picker-options="timeSelectEnd" value-format="HH:mm" format="HH:mm"></el-time-picker>
        </el-main>
      </el-container>
    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/element-ui.js"></script>
    <script>
      new Vue({
        el: '#lists',
        created: function () {},
        data: {
          date: '',
          start: '',
          end: '',
          timeEndStr: true,
          timeLists: [],
          pickerOptions: {
            disabledDate(time) {
              return time.getTime() + 3600 * 1000 * 24 < Date.now();
            }
          },
          timeSelectStart: {
            selectableRange: ['08:30:00 - 18:00:00']
          },
          timeSelectEnd: {
            selectableRange: []
          }
        },
        watch: {
          timeLists(val) {
            const len = val.length;
            let timeSelectStart = [];
            if (len !== 0) {
              for (i in val) {
                const j = Number(i);
                const x = j + 1;
                if (j < len - 1) {
                  if (j == 0) {
                    if (val[i][0].split(':')[0] !== '08') {
                      timeSelectStart.push('08:30:00 - ' + val[i][0] + ':00')
                    }
                  }
                  if (val[i][1].split(':')[0] !== val[x][0].split(':')[0]) {
                    timeSelectStart.push(val[i][1] + ':00 - ' + val[x][0] + ':00')
                  }
                } else if (j == len - 1) {
                  if (j == 0) {
                    if (val[i][0].split(':')[0] !== '08') {
                      timeSelectStart.push('08:30:00 - ' + val[i][0] + ':00')
                    }
                  }
                  timeSelectStart.push(val[i][1] + ':00 - 18:00:00')
                }
              }
              this.timeSelectStart.selectableRange = timeSelectStart;
            } else {
              this.timeSelectStart.selectableRange = ['08:30:00 - 18:00:00']
            }
          }
        },
        methods: {
          getStartTimeChange(time) {
            if (this.start != "") {
              this.timeEndStr = false;
              let timeSelectEnd = [];
              let range = this.timeSelectStart.selectableRange;
              for (r of range) {
                let rr = r.split(' - ');
                let sss = rr[0].split(':');
                let rrr = rr[1].split(':');
                let lll = time.split(':');
                if ((lll[0] - sss[0]) >= 0 && (lll[0] - rrr[0] <= 0)) {
                  timeSelectEnd = time + ':00 - ' + rr[1]
                }
              }
              this.timeSelectEnd.selectableRange = timeSelectEnd;
            }
            this.end = ""
          },
          dateChange() {
            this.start = "";
            this.end = "";
            this.timeEndStr = true;
            this.timeLists = [
              [
                '09:00', '10:00'
              ],
              [
                '13:00', '14:30'
              ]
            ]
          }
        }
      })
    </script>
  </body>
</html>